body{
    font-family:Arial, Helvetica, sans-serif ;
    background-color: bisque;
    color:black;
}
h1{
    color: pink;
    font-family: Arial, Helvetica, sans-serif; 
}
 a:hover{
    color:aquamarine;
 }
 /*